<% if (bootstrap) { %><nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a [routerLink]="['Home']" class="navbar-brand">
                <%= appname %>
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['About']">About</a></li>
        </ul>
    </div>
</nav><% } %><% if (foundation) { %><div id="widemenu" class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">
                <a [routerLink]="['Home']">
                    <%= appname %>
                </a>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a [routerLink]="['About']">About</a></li>
        </ul>
    </div>
</div><% } %>

<div class="container">
    <router-outlet></router-outlet>
</div>
