<% if (bootstrap) { %><nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a [routerLink]="['Home']" class="navbar-brand">
                Home
            </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['About']">About</a></li>
        </ul>
    </div>
</nav><% } %><% if (!bootstrap) { %>
<a [routerLink]="['Home']">Home</a>
<a [routerLink]="['About']">About</a>
<% } %>
<div class="container">
    <router-outlet></router-outlet>
</div>
