<!doctype html>
<html>
<head>
    <base href="/">
    <title>Angular2 + TypeScript</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><% if (systemjs) { %>

    <!-- inject:css --><% if (bootstrap) { %>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css"><% } %><% if (foundation) { %>
    <link rel="stylesheet" href="node_modules/foundation-sites/dist/foundation.css"><% } %>
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject --><% } %>
</head>
<body>
    <my-app>Loading...</my-app><% if(systemjs) { %>

    <!-- inject:js --><% if(jquery) { %>
    <script src="node_modules/jquery/dist/jquery.js"></script><% } %><% if(bootstrap) { %>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script><% } %><% if(foundation) { %>
    <script src="node_modules/foundation-sites/dist/foundation.js"></script><% } %>
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
        System.import('app').catch(function(err) { console.error(err); });
    </script>
    <!-- endinject --><% } %>
</body>
</html>
