<!doctype html>
<html>
<head>
    <base href="/">
    <title><%= appname %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if (bootstrap) { %><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"><% } %>

    <style>
        body {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    </style>
</head>
<body>
    <my-app>Loading...</my-app>

    <% if(systemjs) { %><script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <script src="systemjs.config.js"></script>
    <script>
        System.import('app').catch(function(err) { console.error(err); });
    </script><% } %>
</body>
</html>
